@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&display=swap");
/*font-family: 'Nunito Sans', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");
/*font-family: 'Comic Neue', cursive;*/

.font-nunito {
  font-family: "Nunito Sans", sans-serif;
}

.font-comic {
  font-family: "Comic Neue", cursive;
}

/*Colors: Eerie Blak#191A1D, White"FFFFFF, Malachite#40DD4D, Middle Grey#898280*/

/*------------------Header*/
header {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #191a1d;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  position: fixed;
  transition: all 0.3s ease;
}

.header-icon {
  width: 100px;
  height: 100px;
  background-image: url("/styles/img/svg/code.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-navbar {
  width: 50%;
}
.nav-bar-items {
  justify-content: space-around;
}

/*------------------JAVASCRIPT*/
.scroll-js {
  background-color: transparent;
  transition: all 0.9s ease;
}
.color-change {
  color: white;
}
/*------------------HOVER NAV-BAR ITEMS*/
.nav-bar-home:hover {
  color: yellow;
}
.nav-bar-about:hover {
  color: #85e42b;
}
.nav-bar-skills:hover {
  color: #eb2508;
}
.nav-bar-contact:hover {
  color: #00a5d6;
}

/*------------------MAIN SECTION*/
.main-section {
  width: 100%;
  height: 100vh;
  background-image: url("/styles/img/nonesvg/heros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-section-intro {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 3rem;
}

/*------------------ABOUT SECTION*/
.about-section {
  height: 750px;
  padding-top: 90px;
  justify-content: center;
  align-items: center;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%
  );
}

.about-container {
  width: 95%;
  height: 500px;
  background-color: #252525cb;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 4px solid white;
}

.about-info {
  width: 50%;
  color: white;
}
.about-info h2 {
  font-size: 4.3rem;
  text-align: center;
}
.about-info p {
  font-size: 2rem;
  text-align: center;
}

.about-image {
  width: 50%;
  height: 100%;
  background-image: url("/styles/img/svg/hacker.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

/*------------------SKILLS SECTION*/
.skill-title {
  text-align: center;
  font-size: 3rem;
}
.skills-section {
  height: 70vh;
  background: rgb(0, 0, 0);
  background-color: #e30202;
  justify-content: center;
  align-items: center;
}

.skills-container {
  width: 95%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill-card {
  width: 20%;
  height: 80%;
  border-radius: 5%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Comic Neue", cursive;
  border-radius: 23px;
  border-radius: 50px;
  border-radius: 24px;
  background: #e30202;
  box-shadow: 24px 24px 48px #8f0101, -24px -24px 48px #ff0303;
}

.skill-card h3 {
  margin-top: 20px;
  font-size: 1.6rem;
}

.skill-img-html {
  width: 100%;
  height: 50%;
  background-image: url("/styles/img/svg/html.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.skill-img-css {
  width: 100%;
  height: 50%;
  background-image: url("/styles/img/svg/css.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.skill-img-js {
  width: 100%;
  height: 50%;
  background-image: url("/styles/img/svg/javascript.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.skill-img-git {
  width: 100%;
  height: 50%;
  background-image: url("/styles/img/svg/git.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
/* ---------------QUOTE-SECTION */
.quote-section {
  height: 80vh;
  background-image: url("/styles/img/nonesvg/comic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inspiration-quote {
  height: 20%;
  flex-direction: column;
  align-items: center;
}
.inspiration-quote h3,
.inspiration-quote p {
  font-size: 2.6rem;
  color: white;
  background-color: rgba(255, 255, 0, 0.801);
}

/*------------------CONTACT-SECTION */
.contact-section {
  height: 80vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 3%,
    rgba(0, 244, 252, 1) 53%
  );
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.7rem;
}

.item {
  width: 20%;
  height: 75%;
  border-radius: 10px;
}
.item a {
  color: white;
}
.item a:hover {
  color: rgb(66, 66, 66);
}
.git-hub-img {
  width: 60%;
  height: 60%;
  background-image: url("/styles/img/svg/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.codepen-img {
  width: 60%;
  height: 60%;
  background-image: url("/styles/img/svg/codepen.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.behance-img {
  width: 60%;
  height: 60%;
  background-image: url("/styles/img/svg/behance.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-img {
  width: 60%;
  height: 60%;
  background-image: url("/styles/img/svg/contact-list.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* FOOTER */
footer {
  height: 5vh;
  background-color: black;
  text-align: center;
  color: white;
}
/*------------------MEDIA QUERIES*/
@media (max-width: 968px) {
  .header-container {
    flex-direction: column;
  }

  .header-navbar {
    width: 90%;
  }
  /*------------------ABOUT-SECTION */
  .about-container {
    flex-direction: column;
  }

  .about-info {
    width: 100%;
  }
  .about-info h2 {
    font-size: 3.4rem;
  }
  .about-info p {
    font-size: 1.3rem;
  }
  /*------------------SKILLS-SECTION*/
  .skills-container {
    flex-direction: column;
  }

  .skill-card {
    width: 80%;
    height: 25%;
    flex-direction: row;
  }

  .skill-img-git {
    width: 50%;
    height: 90%;
  }
  .skill-img-html {
    width: 50%;
    height: 90%;
  }
  .skill-img-js {
    width: 50%;
    height: 90%;
  }
  .skill-img-css {
    width: 50%;
    height: 90%;
  }

  .skills-section {
    height: 100vh;
  }
  /*------------------QUOTE-SECTION */
  .inspiration-quote h3,
  .inspiration-quote p {
    font-size: 2.4rem;
    color: white;
  }
  /*------------------CONTACT-SECTION */
  .contact-section {
    flex-direction: column;
    font-size: 1rem;
  }

  .item {
    height: 20%;
  }
}
