@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&display=swap");
/*font-family: 'Nunito Sans', sans-serif;*/

/*Header*/
header {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
}
.nav-bar {
  background-color: rgb(223, 143, 23);
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 15px;
}

.header-items {
  width: 40%;
  justify-content: space-between;
}
